<p>victory-edit works!</p>
<div class="panel panel-default" style="border: 10px solid rgb(49, 145, 204); outline: 4px solid rgb(49, 145, 204); border-radius: 2rem; background-color:rgb(232, 250, 250);">
  <div class="panel-body">
    <!-- START Victory Selector Dropdown -->
    <div class="row" *ngIf="victoriesForDay && victoriesForDay.length > 1  && !inAddButton" style="margin-bottom:1rem;">
      <div class="col-sm-12 form-group">
        <label for="selectVictory" style="color: rgb(71, 169, 230);; font-size: 3rem;">Select 1 of Your {{ victoriesForDay.length }} Victories to Edit:</label>
        <select class="form-control"
                [(ngModel)]="currentVictoryId"
                name="selectVictory"
                (change)="onSelectVictory()"
                style="border: 2px solid rgb(49, 145, 204);">
          <option *ngFor="let v of victoriesForDay" [value]="v.id">
           #{{ v.number }} &nbsp; {{ v.victory }}
          </option>
        </select>
      </div>
    </div>   
    <!-- END Victory Selector Dropdown --> 
    <form id="victory-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <!-- DAY INPUT -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label>
            Day:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span *ngIf="savedRecently || addedRecently" class="saved-label">Saved</span>
          </label>
          <div class="day-picker">
            <label
              *ngFor="let d of daysOfWeek"
              class="day-option"
              [class.active]="victory.day === d"
              [class.saved-day]="savedRecently && victory.day === d || addedRecently && victory.day === d"
            >
              <input
                type="radio"
                name="day"
                [value]="d"
                [(ngModel)]="victory.day"        
                hidden
                (ngModelChange)="loadDayVictories()"
                #day="ngModel"             
                required         
              />
              {{ d }}
            </label>
          </div>
          <div class="alert alert-danger" *ngIf="!victory.day && f.submitted ||  emptydays" style ="text-align: center;">
            <b>Attention: </b>A day must be selected to proceed!!! Please select a day from above.
          </div>
        </div>
      </div>
      <!-- NUMBER INPUT -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="number" style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
            Number:
            <span *ngIf="savedRecently || addedRecently" class="saved-label" style=" justify-self: center; padding-right: 2rem;">Saved</span>
          </label>
         <div class="number-control-wrapper">
            <button
              type="button"
              class="number-btn"
              (click)="decrementNumber()"
              aria-label="Decrease number">
              −
            </button>
            <input
              type="text"
              id="number"
              name="number"
              class="number-input form-control required invalid"
              [(ngModel)]="victory.number"
              [class.saved-input]="savedRecently || addedRecently"
              required
              #number="ngModel"
              #numberInput
              pattern="^[1-9][0-9]*$"
            />
            <button
              type="button"
              class="number-btn"
              (click)="incrementNumber()"
              aria-label="Increase number">
              +
            </button>
          </div>          
          <div class="alert alert-danger" *ngIf="!number.valid && number.touched" style="text-align: center; margin-top: 1rem;">
            <b>Attention: </b>Entry must be a whole number greater than 0. Enter a valid number.
          </div>
        </div>
      </div>
      <!-- VICTORY INPUT -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="victory">
            Victory:
            <span *ngIf="savedRecently" class="saved-label">Saved</span>
          </label>
          <input
            type="text"
            id="victory"
            class="form-control invalid required victory-input"
            size="150"
            max="255"
            name="victory"
            [ngModel]=victory.victory
            [class.saved-input]="savedRecently"
            #victoryField="ngModel"
            #victoryInput          
            pattern="^[a-zA-Z0-9\s.,!?\-\'&quot;:;()&$%\/]+$"
            required>          
          <div class="alert alert-danger" *ngIf="!victoryField.valid && victoryField.touched" style="text-align: center;">
            <b>Attention: </b>Field is required, you cannot leave it blank.
          </div>
        </div>
      </div>             
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <div 
          class="alert alert-danger" 
          style="margin-left: .5rem; margin-right: -.5rem; text-align: center;"
          *ngIf="(f.controls['day']?.invalid && f.controls['day']?.touched) ||
                (number.invalid && number.touched) ||
                (victoryField.invalid && victoryField.touched)">
            <b>Warning: </b>All fields are required and must be filled in to proceed.
        </div>
          <!-- Form Buttons -->    
          <button class="btn btn-danger pull-right" type="button" style="margin:0 .5rem" (click)="onClear()">Clear</button> 
          <button class="btn btn-success pull-right" type="submit" [disabled]="!f.valid" [@pressRelease]="buttonState">Save</button>
          <!-- Only show if opened with NewVictory Button -->
          <a class="btn btn-warning pull-left" (click)="onBack()" *ngIf="inAddButton">Back</a>   
          <a class="btn btn-success pull-left" (click)="passOnClosedEditStatus()" [routerLink]="['/victories']" *ngIf="inAddButton">Close</a> 
            
        </div>
      </div>
    </form> 
      <!-- Victories List Drag & Drop -->
    <form id="victory-add" (ngSubmit)="onAddVictory(va)" #va="ngForm" *ngIf="!inAddButton">
      <div class="row">
        <!-- Form Button -->
        <button type="button" class="btn pull-right" 
        type="submit"         
        style="background-color: rgb(71, 169, 230); 
        color: white; margin: 2.5rem 3.75rem 0 0;"
        [disabled]="!va.valid"
        [@pressRelease]="buttonState">
          Add Victory
        </button>
        <div class="col-sm-6 form-group" style="margin-top: -4rem;"> 
          <label for="victoryList">All Unique Victory List: 
            <span style="color: white; background-color: rgb(42, 133, 189); 
            border: 3px solid rgb(208, 208, 86); border-radius: 30rem; padding: .2rem 0;">&nbsp;Tot {{ filteredVictories.length }}&nbsp;</span></label>
          <!-- Added for adding victories through a drop-down menu - addition -->  
          <div class="row" style="margin-bottom: 1rem;" >
            <div class="col-sm-8">
              <cms-victory-dropdown [victories]="filteredVictories"></cms-victory-dropdown>
            </div>        
          </div> 
        </div>   
      </div>        
        <!-- START of Drop Zone for Drag and Drop -->
        <div class="victory-drop-wrapper pull-right"
        [class.saved-input]="addedRecently"   
        dndDropzone 
        (dndDrop)="onVictoryDropped($event)">
          <input type="text"
                name="newVictoryText"
                [(ngModel)]="newVictoryText"                      
                (input)="filterVictories()"
                class="victory-drop-input"
                #addVictory="ngModel"                       
                pattern="^[a-zA-Z0-9\s.,!?\-\'&quot;:;()&$%\/]+$"
                required/> 
          <!-- Placeholder paragraph -->
          <p class="victory-placeholder" *ngIf="!newVictoryText && !addedRecently">
            To add victories TYPE here<br>or DRAG out of list
          </p>         
          <p *ngIf="addedRecently" class="signal-added">Saved</p>
        </div>
        <div class="alert alert-danger pull-right" *ngIf="!addVictory.valid && addVictory.touched" style="text-align: center;">
          <b>Attention: </b>Field is required to add a victory.
        </div>
        <!-- END of Drop Zone for Drag and Drop --> 
        <!-- Navigation Buttons -->
        <div class="row">
          <div class="col-xs-12 btn-toolbar pull-right">        
            <a class="btn btn-warning pull-right" (click)="onBack()">Back</a>   
            <a class="btn btn-success pull-right" (click)="passOnClosedEditStatus()" [routerLink]="['/victories']">Close</a> 
          </div>
        </div>
    </form>
  </div>
</div>